body
{
    background-image: url(../images/NumberBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#contain
{
  border: 2px solid green;
  width: 650px;
  
}
svg
{
  width:500px;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
}
  