body
{
    background-image: url(../images/NumberBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header
{
    width: 100%;
    height: 10%;
   
}


.nav
{
  width: 337px;
}
#ABC
{
    background-color: #abe84f;
}
 #ABC , #nums , #Shapes , #Marks
 {
   padding: 5px;
   width: 337px;
   height: 360px;
 }
 #ABC , #nums , #Shapes , #Marks
 {
   border: 2px solid rgb(5, 138, 34);
 }

#Logo
{
    width: 200px;
    height: 200px;
}
.item
{
    padding: 10px;
    margin: 10px;
    color: green;
    background-color: rgb(253, 204, 204);
    cursor: pointer;
    float: left;
    font-weight: bold;
    font-size: 22px;
    border-radius: 100px;
    z-index: 5;
}

.Shapes
{
    width: 40px;
    height: 40px;
    background-color:"";
}