 #logo
{
height: 20%;
}

#logo_pic
{
height: 30%;
width: 30%;
left:0px;
float:left;
padding: 0px;
}

body
{
    background-image: url("../images/bgg.jpg");
    background-repeat: no-repeat ;
    background-size:cover;
}

#title
{
    color:  blueviolet;
    font-size: 80px;
    position: relative;
    margin: auto;
    font-weight: bold;
}

a img{
    width:150px;
    height:200px;
    
}
       
a img:hover 
{
    animation: Rotate 5s;
    animation-iteration-count: initial;
}

@keyframes Rotate 
{
    50% { transform: rotate(360deg); height: 200px;}
}
