
body{
    background-image: url("../images/bgg.jpg");
    background-repeat: no-repeat ;
    background-size:cover;
}

/* .logo
{
    height: 20%;
    width: 40%;
} */
.logo_div
{
    margin: auto;

}
.logo_pic
{
    height: 250px;;
    width: 500px;
    margin-left: 270px;
}
.btn_learning
{
    width: 150px;
    height: 80px;
    background-color:darkcyan;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 200px;
    float: left;
}
.btn_quiz
{
    width: 150px;
    height: 80px;
    font-size: 30px;
    background-color:chocolate;
    font-weight: bold;
    color: crimson;
    margin-right: 260px;
    margin-left: 200px;
    float: right;
}
.btn_videos
{
    width: 150px;
    height: 80px;
    font-size: 30px;
    background-color:brown;
    font-weight: bold;
    color: darkorange;
    margin:auto; 
}
.btn_Back
{
    width: 150px;
    height: 80px;
    font-size: 30px;
    background-color:darkkhaki;
    font-weight: bold;
    color:blueviolet;
    margin:auto; 
}

h2
{
    margin: auto;
    font-weight: bold;
    font-size: 50px;
    color: rgb(147, 102, 189);
    font-family: sans-serif;
}

a img{
    width:150px;
    height:200px;
    
}
       
a img:hover 
{
    animation: Rotate 5s;
    animation-iteration-count: initial;
}

@keyframes Rotate 
{
    50% { transform: rotate(360deg); height: 200px;}
}


button a
{
    text-decoration: none;
    color: white;
}

button a:hover
{
    text-decoration: none;
    color: white;
}

