body
{
    background-image: url("../images/Backg.jpg");
    background-repeat: no-repeat ;
    background-size:cover;
}
.game1
{
    margin: auto;
    width:100%;
    display:inline;
}
.game3
{
    margin: auto;
    float: left;
    width:100%;
    display: none;

}
.image
{
   width:40%;
   float: left;
}
.image3
{
   width:40%;
   float: left;
}
.choices
{
   width: 30%;
   float: right;
}
.pic
{
   width: 100%;
   height:100%;
   margin: auto;
}
.pic3
{
   width: 100%;
   height:100%;
   margin: auto;
 
}
.ch
{
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
    background-color:darkkhaki ;
    color:brown;
    padding:50px;
}
button:hover
{
    cursor: pointer;
    color: white;
    background-color: rgb(73, 3, 90);
}

