#leftLetterSection
{
    width: 20%;
    height: 100%;
    background-color: rgb(74, 90, 74);
    float: left;
}
#RightGameSection
{
    width:80%;
    height: 100%;
    background-color: rgb(29, 180, 29);
    float: left;
}

.word_letter
{
    width:20%;
    height: 20%;
}
#imgletter
{
    height: 65px;
   
}

.picture
{
    width:100%;
    height:70%;
}
.picture img
{
    width:100%;
    height:100%;
}
#ch_letter
{
    width:100%;
    height: 20%;
    
}

.letter
{
    font-size: 30px;
    width:50%;
    height: 20px;
    margin:10px;
    padding: 0px 10px;
    font-weight: bold;
    border: 2px solid white;
    color: green;
    background-color:burlywood;
    background-size: 100px;
}
.work
{
    width: 80%;
}